<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <h1>Üdvözlünk, <%= user.username %>!</h1>
     <!-- Bejelentkezett felhasználó információk megjelenítése -->
  <% if (user && user.isAdmin) { %>
    <section>
      <p>Adminisztrátori jogosultsággal rendelkezel.</p>
      <!-- További adminisztrátori funkciók itt -->
    </section>
  <% } else { %>
    <section>
      <h2>Felhasználói szint</h2>
      <p>Felhasználóként nem rendelkezel adminisztrátori jogokkal.</p>
    </section>
  <% } %>
  </header>

  <form action="/admin/projects" method="get">
    <button type="submit" class="btn"><i class="fas fa-folder"></i> Projektek</button>
</form>
  
  <form action="/admin/users" method="get">
    <button type="submit" class="btn"><i class="fas fa-user-gear"></i> Felhasználók kezelése</button>
</form>

<form action="/profile" method="get">
  <button type="submit" class="btn"><i class="fas fa-id-card"></i> Profil megtekintése</button>
</form>

<form action="/logout" method="GET">
  <button type="submit" class="logout-btn"><i class="fas fa-right-from-bracket"></i> Kijelentkezés</button>
</form>


</body>
</html>


