<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" 1  href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <h1>Üdvözlünk, <%= user.username %>!</h1>
        <p>Felhasználói jogosultságokkal rendelkezel</p>

    <section>
        <form action="/user/projects" method="get">
            <button type="submit" class="btn"><i class="fas fa-folder"></i> Projektjeim</button>
        </form>
    </section>
    
    <form action="/profile" method="get">
        <button type="submit" class="btn"><i class="fas fa-id-card"></i> Profil megtekintése</button>
    </form>

    <form action="/logout" method="GET">
        <button type="submit" class="logout-btn"><i class="fas fa-right-from-bracket"></i> Kijelentkezés</button>
    </form>

    
</body>
</html>
