<form action="/admin/projects/delete" method="POST" style="display:inline;">
    <input type="hidden" name="projectId" value="<%= project.id %>">
    <button type="submit">Törlés</button>
  </form>
  