@use '../base'; // Fontos a helyes elérési út!

.btn {
  background-color: base.$primary-color;
  color: #202020; /* vagy más szövegszín */
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Teljesen lekerekített gombok */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Simább átmenet */
  margin: 5px; /* Példa távolság */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Árnyék hozzáadása */
}

.btn:hover {
  background-color: #5c0099;
  color: white; /* vagy más hover szövegszín */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Árnyék hozzáadása */
}

.logout-btn {
  background-color: #5c0099;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Teljesen lekerekített gombok */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Simább átmenet */
  margin-top: 80px; /* Példa távolság a többi gombtól */
  margin-bottom: 3%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Árnyék hozzáadása */
}

.logout-btn:hover {
  background-color: #202020;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Árnyék hozzáadása */
}